a {  
    color: black;
}

a:hover 
{
    color:#899F4A;
    text-decoration: none;
}

.btn
{
    background-color:#2B4D1B;
    border-style: none;
}


.container h2
{
    color:#2B4D1B;
    font-family: 'Merriweather', serif;

}

.container h3
{
    color:#2B4D1B;
}

.container p 
{
    font-family: 'Quicksand', sans-serif;
}

.nav-item
{
    font-family: 'Quicksand', sans-serif;
   
}
html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}




